.highlightBox {
    display: flex;
    align-items: center;
    margin-top: 185px;
    margin-left: 150px;

}

.highlightText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 0px;
}

.authorDetailsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ee8c31;
    color: white;
    height: 250px;
    width: 200px;
    border: 1px solid rgb(246, 144, 62);
    box-shadow: 0px 10px 10px black;
    border-radius: 5px 40px 5px 5px;
    padding: 10px;
}

.authorName {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;

}

.totalBooks {
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.01rem;
}

.highlightBox .authorDetailsBox img {
    height: 170px;
    width: 170px;
    margin-top: 3px;
}

.highlightBox .authorDetailsBox  img{
    transition: box-shadow 0.3s ease, transform 0.5s ease;
}

.authorDetailsBox img:hover {
    box-shadow: -12px 16px 20px rgba(0, 0, 0, 0.7);
    transform: scale(1.02);
}


@media (max-width: 768px) {
.highlightBox{
    margin-left: 0px;
}
}