.detailBox {
    display: flex;
    height: 200px; 
    width: 280px; 
    background-color: #fff;
    border-radius: 12px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 10px; 
}

.detailBox:hover {
    transform: translateY(-6px); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
}

.bookImage {
    flex-shrink: 0; 
    width: 120px; 
}

.bookImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-right: 1px solid #ddd; 
}

.bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px; 
    gap: 8px; 
    flex-grow: 1;
}

.bookName {
    font-size: 1.2rem; 
    font-weight: 700; 
    color: #333;
}

.bookCategory {
    font-size: 1rem; 
    color: #888; 
}

.bookPrice {
    font-size: 1.1rem; 
    color: #00796b; 
    font-weight: 600; 
}

.buyBtn {
    padding: 10px 20px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    height: 40px;
}

/* Hover state */
.buyBtn:hover {
    background-color: #004d40;
}

.bookInCartBtn{
    padding: 10px 20px;
    background-color: #353535;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    height: 40px;
}