

.container {
    height: auto;
    width: auto;
    color: #333;
    padding: 40px 20px;
    background-color: #f0f0f0;
}

.trendingBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 30px;
}

.trendingText {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: 900;
    color: #333;
    margin-top: 10px;
}

.trendingBookDetailComponent {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.trendingBookDetailComponent .bookDetails {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.trendingBookDetailComponent .bookDetails:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
}