.redSubmitButton button {
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.01rem;
    font-weight: 800;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.redSubmitButton button:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}