.TextBookViewContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}


.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    gap:40px;
}

.searchBar label {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
}

.searchBar input {
    width: 400px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.TextBookViewContainer p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 900;
}

.BooksBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    margin-top: 0px;
}


.bookDetailsViewBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
margin-top: 20px;
    gap: 10px;
}


.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.pagination button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #555;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.noResult{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.notfoundBookText{
    color: #555;
    font-weight: 400;
}
.noResult img
{
height: 50px;
width: 50px;
}
.noResult span{
    display: none;
}

#priceFilter {
    padding: 8px 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    width: 200px;
    transition: border-color 0.3s ease;
}

#priceFilter:focus {
    border-color: #000000;
    outline: none;
}





@media (max-width: 768px) {
    .bookDetailsViewBox {
        flex-direction: column;
        align-items: center;
    }

    .searchBar input {
        width: 100%;
    }
    .TextBookViewContainer{
        margin-top: 180px;
    }
    .searchBar input {
        width: 250px;
    }
}
