@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

nav {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    /* background-color: #f7ede2; */
    background-color: #ffffff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 5px 10px 0.5px black;
    color: #000000;
    top: 0px;
    position: fixed;
    z-index: 500;
    font-weight: bolder;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

}

nav .logo {
    display: flex;
    justify-content: left;
    margin-left: 50px;
    height: 40px;
    width: auto;

}

nav .pagesOption {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-left: 400px;
}

nav .pagesOption span {
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s ease;
}

nav .pagesOption span:hover {
    color: #1d3557;
}

nav .logIn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 480px;
}

nav .logIn button {
    border: none;
    outline: none;
    padding: 20px 50px 20px 50px;
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

nav .logIn button:hover {
    background-color: #1d3557;
    color: aliceblue;
}